/* 1. CSS重置与基础设置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* 基准字体大小 */
  -webkit-text-size-adjust: 100%; /* 防止iOS字体缩放 */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  color: #333;
  min-height: 100vh;
}

/* 设计稿自定义样式 */
@font-face {
  font-family: 'Outfit';
  src: url('../font/Outfit-VariableFont_wght.ttf');
}

:root{
    --Slate-900:#1F314F;
    --Slate-500:#68778D;
    --Slate-300:#D5E1EF;
    --White:#FFFFFF;
    --spacing-500: 40px;  
    --spacing-300: 24px;  
    --spacing-200: 16px;
    --font-family: 'Outfit';  
} 
    

.text-preset-1 {
  font-family: var(--font-family); 
  font-weight: bold;                  
  font-size: 22px;                   
  line-height: 1.2;                  
  letter-spacing: 0px;
  color: var(--Slate-900);           
}

.text-preset-2{
    font-family: var(--font-family);
    font-weight: Regular;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--Slate-500);
} 