.container {
    width: 100%;
    max-width: 375px;
    height: 812px;
    background-color: var(--Slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 320px;
    height: 499px;
    background-color: var(--White);
    border-radius: 20px;
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200) ;
    box-shadow: 0 25px 25px 0 rgba(0,0,0,4.77%);
}

.qr-code{
    display: flex;
    flex-direction: column;    
    overflow: hidden;
    text-align: center;
    img{
        border-radius:  10px;
        width: 288px;
        height: 288px;        
        object-fit: cover;
    }

    .text-box{
        height: 131px;
        width: 288px;
        margin-top: var(--spacing-300);
        padding: 0 16px;

        .title-box{
            height: 52px;
            width: 256px;
            text-align: center;
            vertical-align:top;
            margin-bottom: var(--spacing-200);
        }

        .content-box{
            height: 63px;
            width: 256px;
            text-align: center;
            vertical-align:top;
        }
    }
    

}

@media (min-width: 1440px) {
    .container{
        max-width: 1440px;
        height: 960px;
    }
}
